{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">{{ site_name }}</h1>
        </div>

        <div class="row">
            <h1 class="text-center col-12 my-4">Lorem ipsum dolor sit, consectetur</h1>
            <p class="col-12 col-10 mx-auto text-center">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam blanditiis commodi cumque deserunt distinctio ea earum excepturi libero praesentium quas totam, velit voluptatibus. Aliquid animi, aperiam architecto consectetur consequuntur cumque deleniti dolorem enim excepturi illum iure natus provident, quisquam repudiandae saepe tempora veritatis. Aperiam culpa fugit itaque minima nobis.
            </p>

        </div>

        {# Affichage du bandeau avec l'image fixe #}
        <div class="row my-5 batman-cover"></div>

        {# TODO: Afficher les 3 derniers articles #}
        <div class="row">

        </div>

        <div class="row mb-5 ">
            <h1 class="text-center col-12 my-4">Lorem ipsum dolor sit, consectetur</h1>
            <p class="col-12 col-10 mx-auto text-center mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam blanditiis commodi cumque deserunt distinctio ea earum excepturi libero praesentium quas totam, velit voluptatibus. Aliquid animi, aperiam architecto consectetur consequuntur cumque deleniti dolorem enim excepturi illum iure natus provident, quisquam repudiandae saepe tempora veritatis. Aperiam culpa fugit itaque minima nobis.
            </p>

        </div>



    </div>

{% endblock %}



